# ─── Server ──────────────────────────────────────────────────
PORT=5000
NODE_ENV=development
FRONTEND_URL=http://localhost:8080

# ─── MongoDB ─────────────────────────────────────────────────
MONGODB_URI=mongodb+srv://admin:<password>@playbeat.umqpdyx.mongodb.net/?appName=playbeat

# ─── JWT ────────────────────────────────────────────────────
JWT_SECRET=your_super_secret_jwt
API_SECRET_KEY=your_api_secret_key

# =========================
# PLAYBEAT DIGITAL
# Payment Environment
# =========================

# ===== STRIPE =====
STRIPE_ACCOUNT_ID=your_stripe_account_id
STRIPE_PUBLISHABLE_KEY=your_stripe_publishable_key
STRIPE_SECRET_KEY=your_stripe_secret_key
STRIPE_RESTRICTED_KEY=your_stripe_restricted_key
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret

# ===== ALFAPAY =====
ALFAPAY_API_URL=https://sandbox.bankalfalah.com/HS/api/HSAPI/HSAPI
ALFAPAY_MODE=sandbox
ALFAPAY_CHANNEL_ID=ONLINE_PAYMENT
ALFAPAY_MERCHANT_ID=YOUR_MERCHANT_ID
ALFAPAY_STORE_ID=YOUR_STORE_ID
ALFAPAY_RETURN_URL=https://playbeat.digital
ALFAPAY_MERCHANT_USERNAME=YOUR_MERCHANT_USERNAME
ALFAPAY_MERCHANT_PASSWORD=YOUR_MERCHANT_PASSWORD
ALFAPAY_MERCHANT_HASH=YOUR_MERCHANT_HASH
ALFAPAY_KEY_1=YOUR_KEY_1
ALFAPAY_KEY_2=YOUR_KEY_2
ALFAPAY_SETTLEMENT_ACCOUNT=YOUR_ACCOUNT_NUMBER
ALFAPAY_SETTLEMENT_TITLE=YOUR_ACCOUNT_TITLE

# ===== MEEZAN =====
MEZPAY_USERNAME=YOUR_USERNAME
MEZPAY_PASSWORD=YOUR_PASSWORD
MEZPAY_SUCCESS_CALLBACK=success
MEZPAY_FAILED_CALLBACK=failed
MEEZAN_IBAN=YOUR_IBAN
MEEZAN_ACCOUNT_TITLE=YOUR_ACCOUNT_TITLE

# ===== JAZZCASH =====
JAZZCASH_PRODUCTION_URL=YOUR_PRODUCTION_URL
JAZZCASH_SANDBOX_URL=YOUR_SANDBOX_URL
JAZZCASH_MERCHANTID=YOUR_MERCHANT_ID
JAZZCASH_PASSWORD=YOUR_PASSWORD
JAZZCASH_HASHKEY=YOUR_HASH_KEY
JAZZCASH_RETURNURL=https://playbeat.digital
JAZZCASH_PAYMENTMODE=sandbox
JAZZCASH_MPIN=YOUR_MPIN
JAZZCASH_TIMEZONE=Asia/Karachi
JAZZCASH_WALLET_NUMBER=YOUR_WALLET_NUMBER
JAZZCASH_ACCOUNT_TITLE=YOUR_ACCOUNT_TITLE
